<div class="container__footer">
    <ul>
        <li class="redes">Redes Sociais :</li>

        <li><a href="https://facebook.com" target="_blank"><img src="../../../assets/img/Facebook.png" height="20px"
                    width="20px"></a></li>
        <li><span>|</span></li>
        <li><a href="https://instagram.com" target="_blank"><img src="../../../assets/img/Instagram.png" height="20px"
                    width="20px"></a></li>
        <li><span>|</span></li>
        <li><a href="https://www.twitter.com" target="_blank"><img src="../../../assets/img/Twitter.png" height="20px"
                    width="20px"></a></li>
    </ul>
</div>