<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/iandra-lima-mascarenhas-789490158/" target="_blank"><img
          src="../../../assets/img/LinkedIn.png" height="20px" width="20px"></a></li>
    <li><span>|</span></li>
    <li><a href="https://br.pinterest.com/" target="_blank"><img src="../../../assets/img/Pinterest.png" height="20px"
          width="20px"></a>
    </li>
    <li><span>|</span></li>
    <li><a href="https://www.youtube.com/channel/UCCcDZkI7AITYFCgDEFV9OoQ" target="_blank"><img
          src="../../../assets/img/Youtube.png" height="20px" width="20px"></a></li>
  </ul>
</div>